/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19-Oct-2023, 10:38:18 pm
    Author     : Aakash Prajapati
*/

.primary-background{
    background: #2196f3 ! important
}

/* Add some margin to the right of the icon */
.fa-spin {
    transition: transform 0.3s; /* Add transition for smooth animation */
}

.btn:hover .fa-spin {
    transform: scale(1.2); /* Increase the size on hover */
}



.alert {


}

.input-group-text {
    cursor: pointer;
}
.collapse {

}
